# =====================
# General
# =====================
*.class
*.log
*.pyc
*.swp
*.lock
*.tmp
*.temp
.DS_Store
debug_info/
migrate_working_dir/
buildlog/
.history
.svn/

# =====================
# Environment
# =====================
.env*
!.env.example
key.properties

# =====================
# Flutter / Dart / Pub
# =====================
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
/build/
**/build/
**/doc/api/
generated_plugin_registrant.dart

# =====================
# Android
# =====================
# Remove this if you want to track android native code
# Do not ignore the whole android folder!
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
android/.idea/
android/.kotlin/
android/.settings/
android/*.iml

# Obfuscation & symbolication
app.*.symbols
app.*.map.json

# Android Studio output folders
/android/app/debug/
android/app/profile/
android/app/release/

# =====================
# iOS
# =====================
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/build/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies
**/ios/Flutter/.last_build_id

# =====================
# VSCode / IntelliJ
# =====================
.vscode/
.idea/
*.iml
*.ipr
*.iws

# =====================
# macOS
# =====================
.DS_Store

# =====================
# Optional: Fastlane, Firebase, etc.
# =====================
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
firebase_app_id_file.json
